{
    "zoo_core": {
        "path": "F:/code/python/personal/zootools_local/zoo_core",
        "type": "path"
    },
    "zoo_preferences": {
        "path": "F:/code/python/personal/zootools_local/zoo_preferences",
        "type": "path"
    },
    "zoo_pyside": {
        "type": "path",
        "path": "F:/code/python/personal/zootools_local/zoo_pyside"
    }
}