{
    "zoo_core": {
        "path": "$ZOO_LOCAL_DEV/zoo_core",
        "type": "path"
    },
    "zoo_preferences": {
        "path": "$ZOO_LOCAL_DEV/zoo_preferences",
        "type": "path"
    },
    "zoo_pyside": {
        "type": "path",
        "path": "$ZOO_LOCAL_DEV/zoo_pyside"
    },
    "vortex": {
        "type": "path",
        "path": "D:\\code\\python\\personal\\vortexUI"
    },
    "zoo_toolsets": {
        "type": "path",
        "path": "$ZOO_LOCAL_DEV/zoo_toolsets"
    },
    "slither": {
        "type": "path",
        "path": "D:\\code\\python\\personal\\slither"
    }
}
